@use '../../../styles/colors.scss' as colors;

.garageTrackBlock {
  margin: 0.5rem 0;
}

.title {
  text-align: center;
  font-size: 2.3rem;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  :global(.MuiPaginationItem-root) {
    color: inherit;
    font-size: 2.2rem;
  }
  :global(.MuiPaginationItem-root:hover) {
    background-color: colors.$c-violet-100;
    cursor: pointer;
  }
  :global(.MuiPaginationItem-root.MuiPaginationItem-root.Mui-selected) {
    background-color: colors.$c-violet-500;
    font-weight: bold;
    cursor: pointer;
  }
  :global(.MuiPaginationItem-previousNext) {
    color: inherit;
  }
}

@media (max-width: 768px) {
  .pagination {
    padding: 1rem 0;

    :global(.MuiPaginationItem-root) {
      font-size: 1.6rem;
    }
  }
  .title {
    text-align: center;
    font-size: 2rem;
  }
}

@media (max-width: 390px) {
  .pagination {
    :global(.MuiPaginationItem-root) {
      font-size: 1.2rem;
    }
  }
}
