@use '../../../styles/colors.scss' as colors; 

.inputText {
  width: 22rem;
  height: 5rem;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  border: 0.1rem solid colors.$c-violet-100;
}

@media (max-width: 720px) {
  .inputText {
    width: 18rem;
    min-width: 14rem;
    height: 3.5rem;
    font-size: 1.5rem;
  }
}
