@use '../../../styles/colors.scss' as colors;

.table {
  max-width: 70rem;
  margin-top: 2rem;
  color: colors.$c-white;
  font-size: 2rem;
  border-radius: 0.2rem;
  text-align: center;
  white-space: wrap;
  border-collapse: collapse;
}

.th,
.td {
  border: 0.05rem solid rgb(243, 232, 232);
  padding: 0.7rem 1rem;
  text-align: center;
}

.th {
  background-color: colors.$c-violet-500;
}

.winnersCar {
  filter: drop-shadow(0.7rem 0.7rem 3rem colors.$c-white);
}

@mixin arrow {
  min-width: 2rem;
  height: 4rem;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: colors.$c-white;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    background-color: colors.$c-violet-100;
  }
}

.buttonUp {
  @include arrow();
  mask-image: url('../../../assets/svg/arrow-up.svg');
}

.buttonDown {
  @include arrow();
  mask-image: url('../../../assets/svg/arrow-down.svg');
}

@media (max-width: 720px) {
  .th {
    padding: 0.5rem;
  }

  .td {
    padding: 0.5rem;
  }
}

@media (max-width: 500px) {
  .table {
    font-size: 1.5rem;
  }
}

@media (max-width: 380px) {
  .table {
    font-size: 1rem;
  }
}
