@use '../../../styles/colors.scss' as colors;

.garageTrack {
  padding: 0.5rem 0.5rem 0;
  border-bottom-style: dashed;
  border-bottom-width: 0.5rem;
  border-bottom-color: colors.$c-white;
}

.garageContent {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 7rem 0.1rem 0;
  filter: drop-shadow(0.5rem 0.5rem 6rem colors.$c-white);
}

.carName {
  font-size: 1.7rem;
}

.garageFlag {
  width: 5rem;
  height: 5rem;
  background-image: url('../../../assets/svg/flag-icon.svg');
  background-repeat: no-repeat;
  background-size: 5rem;
  z-index: 1;
}

@media (max-width: 768px) {
  .carName {
    font-size: 1.4rem;
  }

  .garageContent {
    padding: 0.5rem 5.5rem 0.1rem 0;
  }
}
