@use '../../../styles/colors.scss' as colors; 

.inputColor {
  width: 6rem;
  height: 5rem;
  cursor: pointer;
  border: 0.1rem solid colors.$c-violet-100;
}

@media (max-width: 720px) {
  .inputColor {
    width: 5rem;
    min-width: 3rem;
    height: 3.5rem;
  }
}
