@use '../../../styles/colors.scss' as colors; 

.button {
  padding: 0.5rem;
  font-size: 2rem;
  display: inline-block;
  color: colors.$c-violet-800;
  background-color: colors.$c-white;
  border-radius: 1rem;
  cursor: pointer;

  &:disabled {
    border: none;
    color: colors.$c-white;
    background-color: colors.$c-gray;
    cursor: not-allowed;
  }

  @media (hover: hover) and (pointer: fine) and (pointer: fine) {
    &:hover:not([disabled]),
    &:focus {
      color: colors.$c-white;
      background-color: colors.$c-violet-800;
      border-color: 0.1rem colors.$c-violet-100;
      filter: drop-shadow(0.3rem 0.3rem 1rem colors.$c-violet-100);
      transform: translateY(-0.15em);
    }
  }
}

@media (max-width: 768px) {
  .button {
    font-size: 1.5rem;
  }
}
