.garageCarImg {
  transition: transform 0.5s ease-in-out;
}

@keyframes carsAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(98vw - 120px));
  }
}

@media (max-width: 960px) {
  .garageCarImg {
    width: 90px;
  }
}
